version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/src/App/" 
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    assignees:
      - "Smalls1652"
    target-branch: "main"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 10
    assignees:
      - "Smalls1652"
    target-branch: "main"