@namespace MuzakBot.WebApp.Components

<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />

    <PageTitle>MuzakBot</PageTitle>
    <HeadOutlet />
    
    <!-- Theme color attribute. Primarily for theming supported web browsers. -->
    <meta content="#3c424f" name="theme-color" />

    <!-- Twitter Posting Format -->
    <meta content="summary" name="twitter:card" />
    <meta content="@@thetimmysmalls" name="twitter:creator" />

    <!-- OpenGraph Data -->
    <meta content="https://muzakbot.smalls.online/images/logo_wide_social.png" property="og:image" />
    <meta property="og:locale" content="en_US" />

    <link href="favicon.ico" rel="icon" type="image/ico" />

    <link rel="stylesheet" href="css/main.css" />
    <link href="css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
</head>

<body>
    <Routes />

    <script src="_framework/blazor.web.js" suppress-error="BL9992"></script>
    <script src="js/main.js" suppress-error="BL9992"></script>
</body>

</html>
