@namespace MuzakBot.WebApp.Components

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <base href="/" />
    <link rel="stylesheet" href="css/main.css" />
    <link href="css/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/app.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />

    <script src="_framework/blazor.web.js" suppress-error="BL9992"></script>
    <script src="js/main.js" suppress-error="BL9992"></script>
</body>

</html>
