@namespace MuzakBot.WebApp.Components.Pages

@using MuzakBot.WebApp.Components.Core

@page "/"

<HeadContent>
    <!-- Generic meta tags -->
    <PageTitle>MuzakBot</PageTitle>
    <meta content="A Discord bot to easily share music from one music streaming service to other streaming services." name="description" />
    <meta content="Tim Small" name="author" />

    <!-- OpenGraph/Facebook meta tags -->
    <meta content="MuzakBot" name="title" property="og:title" />
    <meta content="A Discord bot to easily share music from one music streaming service to other streaming services." property="og:description" />
    <meta content="https://muzakbot.smalls.online/" property="og:url" />
    <meta content="website" property="og:type">
    <meta content="https://muzakbot.smalls.online/images/logo_wide_social.png" property="og:image">

    <!-- Twitter meta tags -->
    <meta content="summary_large_image" name="twitter:card">
    <meta content="MuzakBot" name="twitter:title">
    <meta content="A Discord bot to easily share music from one music streaming service to other streaming services." name="twitter:description">
    <meta content="muzakbot.smalls.online" property="twitter:domain">
    <meta content="https://muzakbot.smalls.online" property="twitter:url">
    <meta content="https://muzakbot.smalls.online/images/logo_wide_social.png" name="twitter:image">
</HeadContent>

<PageCard Title="Home" Icon="house-fill">
    <div class="basis-full">
        <div class="clearfix">
            <img src="images/logo.png" alt="MuzakBot logo" class="muzakbot-logo-img mb-4 float-none md:float-right" />
            <div class="mb-4">
                <AddToDiscordButton />
            </div>
            <div>
                <p>
                    MuzakBot is a Discord bot that provides various music-related features:
                </p>
                <ul class="list-disc list-inside mb-4">
                    <li>
                        Share music with your friends easily, with links to various music streaming services.
                    </li>
                    <li>
                        Analyze song lyrics with OpenAI's GPT-4.
                    </li>
                    <li>
                        And more to be added in the future!
                    </li>
                </ul>
            </div>
            <div>
                <p>
                    To use it, you can:
                </p>
                <ul class="list-disc list-inside">
                    <li>
                        Add it directly to your Discord server.
                    </li>
                    <li>
                        Add it as an user app.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</PageCard>
