@namespace MuzakBot.WebApp.Components.Pages

@using MuzakBot.WebApp.Components.Core
@using MuzakBot.WebApp.Components.Content

@page "/"

<HeadContent>
    <!-- Generic meta tags -->
    <PageTitle>MuzakBot</PageTitle>
    <meta content="A Discord bot to easily share music from one music streaming service to other streaming services." name="description" />
    <meta content="Tim Small" name="author" />

    <!-- OpenGraph/Facebook meta tags -->
    <meta content="MuzakBot" name="title" property="og:title" />
    <meta content="A Discord bot to easily share music from one music streaming service to other streaming services." property="og:description" />
    <meta content="https://muzakbot.smalls.online/" property="og:url" />
    <meta content="website" property="og:type">
    <meta content="https://muzakbot.smalls.online/images/logo_wide_social.png" property="og:image">

    <!-- Twitter meta tags -->
    <meta content="summary_large_image" name="twitter:card">
    <meta content="MuzakBot" name="twitter:title">
    <meta content="A Discord bot to easily share music from one music streaming service to other streaming services." name="twitter:description">
    <meta content="muzakbot.smalls.online" property="twitter:domain">
    <meta content="https://muzakbot.smalls.online" property="twitter:url">
    <meta content="https://muzakbot.smalls.online/images/logo_wide_social.png" name="twitter:image">
</HeadContent>

<PageCard Title="Home" Icon="house-fill">
    <div class="basis-full">
        <div class="clearfix">
            <img src="images/logo.png" alt="MuzakBot logo" class="muzakbot-logo-img mb-4 float-none md:float-right" />
            <div class="mb-4">
                <AddToDiscordButton />
            </div>
            <div>
                <HomePageContent />
            </div>
        </div>
    </div>
</PageCard>
