@namespace MuzakBot.WebApp.Components.Pages

@using MuzakBot.WebApp.Components.Core
@using MuzakBot.WebApp.Components.Content

@page "/privacy-policy"

<HeadContent>
    <!-- Generic meta tags -->
    <PageTitle>MuzakBot - Privacy Policy</PageTitle>
    <meta content="The privacy policy for the Discord bot, MuzakBot." name="description" />
    <meta content="Tim Small" name="author" />

    <!-- OpenGraph/Facebook meta tags -->
    <meta content="MuzakBot - Privacy Policy" name="title" property="og:title" />
    <meta content="The privacy policy for the Discord bot, MuzakBot." property="og:description" />
    <meta content="https://muzakbot.smalls.online/privacy-policy" property="og:url" />
    <meta content="website" property="og:type">
    <meta content="https://muzakbot.smalls.online/images/logo_wide_social.png" property="og:image">

    <!-- Twitter meta tags -->
    <meta content="summary_large_image" name="twitter:card">
    <meta content="MuzakBot - Privacy Policy" name="twitter:title">
    <meta content="The privacy policy for the Discord bot, MuzakBot." name="twitter:description">
    <meta content="muzakbot.smalls.online" property="twitter:domain">
    <meta content="https://muzakbot.smalls.online/privacy-policy" property="twitter:url">
    <meta content="https://muzakbot.smalls.online/images/logo_wide_social.png" name="twitter:image">
</HeadContent>

<PageCard Title="Privacy Policy" Icon="shield-lock-fill">
    <div class="basis-full">
        <PrivacyPolicyContent />
    </div>
</PageCard>