@namespace MuzakBot.WebApp.Components.Core

<a href="https://discord.com/oauth2/authorize?client_id=1131341120924831866" rel="noopener noreferrer" target="_blank" class="add-to-discord-button" type="button">
    <i class="bi bi-discord"></i> Add to Discord
</a>
