@namespace MuzakBot.WebApp.Components.Core

<nav class="navbar navbar-blur bg-grayer border-bottom border-body">
    <div class="navbar-container">
        <div class="flex flex-row items-center">
            <a class="navbar-brand grow" href="/">
                <div>
                    <img src="images/logo.png" alt="MuzakBot logo" width="50" height="50" class="navbar-logo">
                </div>
                <div>
                    <span class="text-white navbar-title self-center">MuzakBot</span>
                </div>
            </a>
            <div class="navbar-toggler">
                <button class="navbar-toggler-button" id="navbar-toggler-button" type="button">
                    <i class="bi bi-list text-white"></i>
                </button>
            </div>
        </div>
        <div class="navbar-items navbar-collapse grow" id="navbar-collapse-section">
            <ul class="navbar-links">
                <li>
                    <a href="/" class="navbar-link@(_currentTopLevelPage == "" ? " active" : "")">
                        <i class="bi bi-house-fill"></i> Home
                    </a>
                </li>
                <li>
                    <a href="/privacy-policy" class="navbar-link@(_currentTopLevelPage == "privacy-policy" ? " active" : "")">
                        <i class="bi bi-shield-lock-fill"></i> Privacy Policy
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Smalls1652/MuzakBot" class="navbar-link" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-github"></i> Source code <i class="bi bi-box-arrow-up-right ml-1"></i>
                    </a>
                </li>
                @{
                    #if DEBUG
                }
                <li>
                    <a href="/lyrics-analyzer/analysis/33719f9d-3e0a-4c9b-bdd8-82ae06793c9c" class="navbar-link@(_currentTopLevelPage == "lyrics-analyzer" ? " active" : "")">
                        <i class="bi bi-music-note-list"></i> Lyrics Analyzer
                    </a>
                </li>
                @{
                    #endif
                }
            </ul>
        </div>
    </div>
</nav>
