@namespace MuzakBot.WebApp.Components.Core

<nav class="navbar navbar-blur bg-grayer border-bottom border-body">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="MuzakBot logo" width="50" height="50" class="rounded-circle">
            <span class="text-white align-middle">MuzakBot</span>
        </a>
    </div>
</nav>