@namespace MuzakBot.WebApp.Components.Layout

@inherits LayoutComponentBase

<main>
    <div class="container-xl pb-3">
        <div class="row py-3 justify-content-center">
            <div class="col-12" id="pagecontent">
                @Body
            </div>
        </div>
    </div>
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
